<!-- <footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>TODO Footer Stuff</p>
</footer> -->

<footer id="footer">

  <div id="social">
    <a href="https://www.linkedin.com/in/ryan-paul-williams/" title="linkedin" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://scholar.google.com/citations?user=CZxMp1YAAAAJ&hl=en" title="google scholar" target="_blank">
      <i class="fas fa-graduation-cap"></i>
    <a href="https://github.com/williamsryan" title="github" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="mailto:ryan.rpwilliams@gmail.com" title="email">
      <i class="far fa-envelope"></i>
    </a>
  </div>

</footer>