<nav class="navbar navbar-expand-md navbar-light navbar-fixed-top">
    <div class="container-fluid">

        <a href='/' style="color:maroon;">Ryan Williams</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about.html">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/research.html">Research</a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" href="/teaching">Teaching</a>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link" href="/posts.html">Posts</a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" href="/talks">Talks</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
<hr class="featurette-divider">